div.container {
    width: 100%;
    border: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    height: 1300px;
    background: url("images/beachNet_cropped.jpg") no-repeat scroll center;
    position: relative;
    margin: auto;
}

em{
    font-weight: bold;
    font-style: normal;
}

h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;}

header p {
    display: inline-block;
    text-align: center;
    float: right;
    margin: 100px 30px;
    font-size: 1.5em;
    color: white;
}

.button{
    background-color: #eee739;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    cursor: pointer;
    margin: 4px 2px;
}



footer{
    width: 100%;
    height: 50px;
    position: absolute;
    background: #eee739;
    padding: 20px;
    font-size: 1.5em;
    text-align: center;
    margin: auto;
    margin-top: 25px;
    bottom: 0;
    left: 0;
}


nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #093a7d;
}

nav li{
    float: left;
    border-right: 1px solid white;
}

nav li a{
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #eee739;
}

.active{
    background-color: #0a54cf;
}

#announcements{
    margin: auto;
    text-align: center;
    border-bottom: solid;
    border-bottom-width: 5px;
    padding: 25px;
}

#heading-leaderboard{
    text-align: center;
}

#announcements dt{
    font-size: 1.5em;
}

 #leaderboard{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    max-width: 75%;
    margin: auto;
}

#leaderboard td, th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

#leaderboard tr:nth-child(even) {
    background-color: #dddddd;
}

#guidelines{
    text-align: justify;
}

#contacts{
    text-align: left;
    border: none;
    padding: 10px;
}
#contacts th{
    border: none;
}

form{
    border-radius: 5px;
    background-color: rgba(10, 103, 255, 0.76);
    padding: 20px;
}
input[type=text], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    background-color: #093a7d;
    font-weight: bold;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: solid black thin;
    border-radius: 4px;
    cursor: pointer;
}
label{
    font-weight: bold;
}

#about-volleyball-photo{
    float: right;
    margin: auto;
    padding: 10px;
    width: 400px;
    height: 300px;
}
#photo-attribution{
    float: right;
    margin: auto;
    padding: 10px;
    width: 400px;
    clear: right;
    text-align: center;
}

article{
    text-align: justify;
}

.transbox{
    width: 75%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.6);
    margin: auto;
    position: relative;
    padding: 25px;
}