div.container {
    width: 100%;
    border: 1px solid white;
    background-image: url("images/beachNet_cropped.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 1300px;
    background-attachment: local;
    position: relative;
}

footer{
    width: 100%;
    height: 50px;
    position: absolute;
    background: yellow;
    padding: 20px;
    text-align: center;
    margin: auto;
    bottom: 0;
    left: 0;
}

/*footer{*/
    /*border-radius: 15px 50px;*/
    /*margin: 20px auto;*/
    /*width: 50%;*/
    /*height: 150px;*/
/*}*/

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li{
    float: left;
}

nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

form{
    border-radius: 5px;
    background-color: gainsboro;
    padding: 20px;
}

.transbox{
    width: 50%;
    height: auto;
    background-color: white;
    opacity: 0.6;
    margin: auto;
    padding: 1em;
}
.transbox article{
    color: black;
}

